@import "./src/Style/breakpoints.module";

.verticalScrollSection {
  overflow: scroll;
  height: 100%;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.innerSection {
  scroll-snap-align: start;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 20px;
  @media only screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.content {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @media only screen and (max-width: $breakpoint-large) {
    flex-basis: 50%;
  }
}

.aboutText {
  font-size: 2em;
  text-align: justify;
  cursor: default;
  color: var(--color-secondary-text);
}

.links {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  font-size: 3em;

  > a {
    color: var(--color-action-text);
  }

  > a:hover {
    transform: scale(1.3);
  }
}