@import "../../../Style/breakpoints.module";

.hamburger {
  cursor: pointer;
  z-index: 10;
  display: none;

  @media only screen and (max-width: $breakpoint-medium) {
    display: inline;
    z-index: 10;
  }
}

.hamburger.active .bar:nth-child(1) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(4) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(2) {
  @media only screen and (max-width: $breakpoint-medium) {
    transform: translateY(5px) rotate(45deg);
  }
}
.hamburger.active .bar:nth-child(3) {
  @media only screen and (max-width: $breakpoint-medium) {
    transform: translateY(-5px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  margin: 4px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: var(--color-secondary-text);


  @media only screen and (max-width: $breakpoint-medium) {
    width: 40px;
    height: 5px;
    margin: 5px auto;
  }
}

.bar.active {
  background-color: var(--color-action-text);
}