.header {
  height: 10vh;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--color-primary);
  color: var(--color-text);
  justify-content: flex-end;
  gap: 20px;
  font-size: 2em;
  padding: 20px;
}