.header {
  height: 10vh;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: var(--color-primary);
  color: var(--color-action-text);
  justify-content: space-between;
  gap: 20px;
  font-size: 2em;
  padding: 20px;
}

.navBar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.active {
  > .underline {
    height: 20px;
    background: var(--color-action);
    margin: -15px -10px 0 10px;
  }
}
