@import "./src/Style/breakpoints.module";

.container {
  width: 50%;

  @media only screen and (max-width: $breakpoint-large) {
    width: 100%;
  }
}

.table {
  height: auto;
  box-shadow: 10px 10px var(--color-secondary-text);
  background: var(--color-secondary);
  padding: 20px;
}

.table:last-child {
  margin: 0 auto;
}

.title {
  font-size: 2em;
  color: var(--color-secondary-text);
  margin: 0 0 20px;

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1.5em;
  }
}