@import "./src/Style/breakpoints.module";

.row {
  margin: 40px 0;
}

.text {
  font-size: 1em;
  color: var(--color-secondary-text);
}

.list {
  display: flex;
  flex-direction: column;

  > ul {
    list-style-type: none;
  }
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 10px 0 0;
  color: var(--color-action-text);

  @media only screen and (max-width: $breakpoint-medium) {
    font-size: 1em;
  }
}

.inline {
  display: inline;
}