.app {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background: var(--color-primary);
    overflow: scroll;
    transition: background 300ms;
}

.sections {
    margin: -10vh 0 0;
    position: relative;
    top: 10vh;
    overflow: scroll;
    height: 100vh;
}