.app {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background: var(--color-primary);
    transition: background 300ms;
    overflow-y: auto;
    overflow-x: hidden;
}

.sections {
    position: relative;
    top: 10vh;
    height: 90vh;
}