.app {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    background: var(--color-primary);
    overflow: scroll;
    transition: background 300ms;
}

.sections {
    position: relative;
    top: 10vh;
    overflow: scroll;
    height: 90vh;
    scroll-snap-type: y mandatory;
}