@font-face {
    font-family: 'Raleway';
    src: url('./resources/fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('./resources/fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./resources/fonts/Raleway/Raleway-Light.woff2') format('woff2'),
        url('./resources/fonts/Raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('./resources/fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('./resources/fonts/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-primary);
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;

}

#root {
    width: 100%;
    height: 100%;
}

:root {
    --color-primary: #bbd4ce;
    --color-secondary: #fdebd3;
    --color-action: #b1706c;
    --color-primary-text: #264e70;
    --color-secondary-text: #679186;
    --color-action-text: #fff;
}